<ion-header>
  <ion-toolbar>
    <ion-title align="center">Win some Coins!</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form>
 
    <ion-title align="center" style="margin-top: 50px;">Escolleix quin tipus de producte</ion-title>

<ion-item lines="none" style="margin-top: 50px;">
  <img  style="margin-left: 50px;" slot="start" src="../../assets/icons8-apple-arcade-50.png">
  <img  style="margin-right: 50px;" slot="end" src="../../assets/icons8-space-invaders-48.png">
</ion-item>
<ion-item lines="none">
  <ion-button slot="start" style="margin-left: 36px;" color = "warning" routerLink="/ventaconsola">Consoles</ion-button>
  <ion-button slot="end" style="margin-right: 44px;" color = "warning" routerLink="/ventajoc">Games</ion-button>
</ion-item>
  

</form>
</ion-content>
