<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title align="center">Benvingut a RetroPlay</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form [formGroup]="loginForm">
    <ion-label lines="solid" >
      <ion-img src="./../../assets/icon/Logotipo_videojuegos_colorido_llamativo_rosa_amarillo_azul.png" style="height: 200px;" ></ion-img>
    </ion-label>
    <ion-label>
      
        <h1 align="center">RetroPlay</h1>
    </ion-label>
    <ion-item lines="solid">
      <ion-label position="floating" style="margin-top: 20px;">Email</ion-label>
      <ion-input type="text" required formControlName="username"></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" required formControlName="password"></ion-input>
    </ion-item>
    <ion-row>
      <ion-col>
        <!--<ion-button type="submit" color="warning" expand="block" routerLink="/home">Entra</ion-button>-->
        <ion-button type="submit" color="warning" expand="block" (click)="FesLogin()">Entra</ion-button>
        <ion-button type="submit" color="warning" expand="block" routerLink="/register">Registra't</ion-button>
        
      </ion-col>
    </ion-row>
  </form>
</ion-content>